SurvivalHorror/Content/AssetsPack/*
SurvivalHorror/Intermediate/*
SurvivalHorror/Binaries/*
SurvivalHorror/DerivedDataCache/*
SurvivalHorror/Saved/*
SurvivalHorror/.vs/SurvivalHorror/*
SurvivalHorror/Content/VehicleVarietyPack/*
SurvivalHorror/Content/StarterContent/*
SurvivalHorror/Content/PN_interactiveSpruceForest/*
# macOS
.DS_Store
SurvivalHorror/.vs/SurvivalHorror/v16/Browse.VC.db
SurvivalHorror/.vs/SurvivalHorror/v16/.suo
*.log
SurvivalHorror/SurvivalHorror.sln
